<footer>
  <div class="container-fluid ">
    <div class="row footer nomarginbottom">
      <div class="col s4 footercolumn">
        <h4>Products</h4>
        <ul>
          <li>
            <a href="/flexerp">Flex ERP</a>
          </li>
          <li>
            <a href="#">Achivement Dashboard</a>
          </li>
          </ul>
        <h4>Solution</h4>
        <ul>
          <li>
            <a href="/flexAnalytics">Flex Analytics</a>
          </li>
          <li>
            <a href="#">Learning and Development</a>
          </li>
          <li>
            <a href="#">Assessment</a>
          </li>
        </ul>
      </div>
      <div class="col s4 footercolumn">
        <h4>Partners</h4>
        <ul>
          <li>
            <a href="partnerOverview">Overview</a>
          </li>
          <li>
            <a href="#">Partner Connect Program</a>
          </li>
        </ul>
        <h4>About</h4>
        <ul>
          <li>
            <a href="#">Our Story</a>
          </li>
          <li>
            <a href="#">News</a>
          </li>
          <li>
            <a href="/careers">Careers</a>
          </li>
        </ul>
      </div>
    <div class="col s4 footercolumn">
      <h4><a href="#">Why Eduflex</a></h4>
      <h4><a href="#">Contact</a></h4>
    </div>
    </div>
    <div class="row no-margin  credits">
      <div class="col s12">
        <div class="">
    <center>
      <span>&copy; 2019  All Rights Reserved.</span>
      </center>
  </div>
        </div>
      </div>
  </div>
</footer>
