<nav>
   <div class="nav-wrapper white">
     <a href="/" class="brand-logo"><img src="/img/logo.gif"</a>
     <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
       <li class="products"><a href=""  data-target="">Products</a></li>
       <div id="prod" class="dropdown-con products hide right">
         <div class="center">
           <span><a href="/flexerp">Flex ERP</a></span>
           <span class="triangle producttri"><a href="#!">Achievement Dashboard</a></span>
          </div>
       </div>
       <li class="solutions"><a href="">Solutions</a></li>
       <div id="sol" class="dropdown-con solutions hide right">
         <div class="center">
           <span><a href="#">Assessment</a></span>
           <span class="triangle solutionstri "><a href="#!">Learning and Development</a></span>
           <span class=""><a href="/flexanalytics">Flex Analytics</a></span>
          </div>
       </div>
       <li class="partner"><a href="">Partners</a></li>
       <div id="part" class="dropdown-con partner hide right">
         <div class="right marright25">
           <span><a href="/partnerOverview">Overview</a></span>
           <span class="triangle partnertri"><a href="/partnerConnect">Partner Connect Program</a></span>
          </div>
       </div>
       <li class="about"><a href="">About</a></li>
       <div id="about" class="dropdown-con about hide right">
         <div class="right marright25">
           <span><a href="#">Our Story</a></span>
           <span class=""><a href="#!">News</a></span>
           <span class="triangle abouttri"><a href="/careers">Careers</a></span>
          </div>
       </div>
       <li><a href="">Why Eduflex</a></li>
       <li><a href="/contact">Contact Us</a></li>
     </ul>
   </div>
 </nav>
 <ul class="sidenav" id="mobile-demo">

   <li class="no-padding">
     <ul class="collapsible collapsible-accordion">
       <li><a class="collapsible-header">Products<i class="material-icons right">arrow_drop_down</i></a>
         <div class="collapsible-body">
           <ul id="" class="">
             <li><a href="/flexerp">Flex ERP</a></li>
             <li><a href="#!">Achievement Dashboard</a></li>
           </ul>
         </div>
       </li>
     </ul>
   </li>

   <li class="no-padding">
     <ul class="collapsible collapsible-accordion">
       <li><a class="collapsible-header">Solutions<i class="material-icons right">arrow_drop_down</i></a>
         <div class="collapsible-body">
           <ul id="" class="">
             <li><a href="#!">Assessment</a></li>
             <li><a href="#!">Learning and Development</a></li>
             <li><a href="/flexanalytics">Flex Analytics</a></li>
           </ul>
         </div>
       </li>
     </ul>
   </li>

   <li class="no-padding">
     <ul class="collapsible collapsible-accordion">
       <li><a class="collapsible-header">Partners<i class="material-icons right">arrow_drop_down</i></a>
         <div class="collapsible-body">
           <ul id="" class="">
             <li><a href="/partneroverview">Overview</a></li>
             <li><a href="/partnerconnect">Partner Connect Program</a></li>
           </ul>
         </div>
       </li>
     </ul>
   </li>

      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li><a class="collapsible-header">About<i class="material-icons right">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul id="" class="">
                <li><a href="#!">Our Story</a></li>
                <li><a href="#!">News</a></li>
                <li><a href="/careers">Careers</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>

   <li class="no-padding"><a href="">Why Eduflex</a></li>
   <li class="no-padding"><a href="/contact">Contact Us</a></li>
 </ul>
